@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	margin: 0;
	padding: 2rem;
	font-family: 'Roboto', sans-serif;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"search-container"
		"total-results-container"
		"display-container";
}

.search-container {
	grid-area: search-container;
	display: grid;
	grid-template-columns: 1fr 0.5fr 1fr 0.5fr;
	column-gap: 0.5rem;
	grid-template-rows: auto auto auto;
	row-gap: 0.5rem;
	grid-template-areas:
		"label-name label-name label-id label-id"
		"search-bar search-button search-bar-id search-button-id "
		"label-select label-select . ."
		"select-menu select-menu . ."
}

.total-results {
	grid-area: total-results-container;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

.display-container {
	grid-area: display-container;
	display: block;
	padding: 2rem;
}

.label-name {
	grid-area: label-name;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.25rem;
}

.search-bar {
	grid-area: search-bar;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
}

.search-bar::placeholder {
	font-size: larger;
}

.search-button {
	grid-area: search-button;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
}

.label-id {
	grid-area: label-id;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.25rem;
}

.search-bar-id {
	grid-area: search-bar-id;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
}

.search-button-id {
	grid-area: search-button-id;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
}

.label-select {
	grid-area: label-select;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.25rem;
}

.select-menu {
	grid-area: select-menu;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
}

.item-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 0.5rem;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"name name item-name item-name"
		"qualities qualities item-qualities item-qualities"
		"rasa rasa item-rasa item-rasa"
		"virya virya item-virya item-virya"
		"vipaka vipaka item-vipaka item-vipaka"
		"increase increase item-increase item-increase"
		"decrease decrease item-decrease item-decrease"
		"guna guna item-guna item-guna";
	border: solid 1px;
	border-radius: 0.25rem;
	padding: 1rem;
	margin: 2rem;
}

.name {
	grid-area: name;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-name {
	grid-area: item-name;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.qualities {
	grid-area: qualities;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-qualities {
	grid-area: item-qualities;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.rasa {
	grid-area: rasa;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-rasa {
	grid-area: item-rasa;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.virya {
	grid-area: virya;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-virya {
	grid-area: item-virya;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.vipaka {
	grid-area: vipaka;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-vipaka {
	grid-area: item-vipaka;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.increase {
	grid-area: increase;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-increase {
	grid-area: item-increase;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.decrease {
	grid-area: decrease;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-decrease {
	grid-area: item-decrease;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.guna {
	grid-area: guna;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-guna {
	grid-area: item-guna;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}