main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4rem auto;
	grid-template-areas: "search-container" "display-container";
}

.search-container {
	grid-area: search-container;
	display: flex;
	align-items: center;
	justify-content: center;
}

.display-container {
	grid-area: display-container;
	display: block;
	padding: 4rem;
}

.search-bar {
	height: 3rem;
	width: 50%;
	border-radius: 0.25rem;
}

.search-bar::placeholder {
	font-size: larger;
}

.search-button {
	height: 3rem;
	width: 20%;
	border-radius: 0.25rem;
}

.item-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 0.5rem;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"name name item-name item-name"
		"qualities qualities item-qualities item-qualities"
		"rasa rasa item-rasa item-rasa"
		"virya virya item-virya item-virya"
		"vipaka vipaka item-vipaka item-vipaka"
		"increase increase item-increase item-increase"
		"decrease decrease item-decrease item-decrease"
		"guna guna item-guna item-guna"

	;
	border: solid 1px;
	padding: 1rem;
	margin: 2rem;
}


.name {
	grid-area: name;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-name {
	grid-area: item-name;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.qualities {
	grid-area: qualities;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-qualities {
	grid-area: item-qualities;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.rasa {
	grid-area: rasa;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-rasa {
	grid-area: item-rasa;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.virya {
	grid-area: virya;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-virya {
	grid-area: item-virya;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.vipaka {
	grid-area: vipaka;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-vipaka {
	grid-area: item-vipaka;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.increase {
	grid-area: increase;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-increase {
	grid-area: item-increase;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.decrease {
	grid-area: decrease;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-decrease {
	grid-area: item-decrease;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.guna {
	grid-area: guna;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.item-guna {
	grid-area: item-guna;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}